.hero-section {
  background-image: linear-gradient(rgba(189,31,23,1), rgba(165,29,19,1), rgba(142,27,15,1) ), url('../../assets/images/hero_bg.png');
  background-blend-mode:color-dodge;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -110px;
  padding: 210px 0 100px 0;
  position: relative;

   
  }
  

.hero-info {
  margin-right: -50px;
  width: 850px;
  position: relative;
  margin-top: 150px;
  z-index: 2;
  color: white

  
}


.hero-info h1 {
  font-size: 120px;
  line-height: 110px;
  background-image: linear-gradient(90deg, #b52c1d00, #b52c1db0);
  padding: 25px 25px 25px 0;
}

.hero-info p{
  font-size: 24px;
  margin-bottom: 40px;
}

.hero-image img {
  width: 100%;
}





  /* RESPONSIVE */
 


@media (max-width: 991.98px) {

  .hero-section {
    padding: 25px 15px;
 
  }

  .hero-info {
    width: 100%
  }

  .hero-info h1 {
    font-size: 48px;
    line-height: 56px;
  }

  .hero-info p{
    font-size: 20px;
    
  }

  
  
}


@media (max-width: 1199.98px) {
  
 }


@media (max-width: 1399.98px) {
  
 }
