.nav-link {
    color: white;
    transition: all 300ms;
}

.nav-link:hover {
    font-weight: 700;
    color: white;
}

.book-table {
    background-color: #febf00;
    color: #0a1425;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 24px;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }


  .book-table:hover {
    background-color: #e5ac00;
  }


  .activeColor {
    background-color: #B52B1D;
  }


  /* RESPONSIVE */
  @media (max-width: 575.98px) {

  }


@media (max-width: 767.98px) {
  
 }


@media (max-width: 991.98px) {

   .navbar-toggler{
      color: white;
      background-color: white !important;
    }

    .navbar {
      background-color: #B52B1D;
    }

    .book-table {
      font-size: 14px;
      padding:  8px 20px
  }
  
}


@media (max-width: 1199.98px) {
  
 }


@media (max-width: 1399.98px) {
  
 }


