.badge {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 120px;
    height: 120px;
    background-color: #febf00;
    border-radius: 75.47px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .inner-circle {
    width: 105.66px;
    height: 105.66px;
    border-radius: 75.47px;
    border: 1.25px solid #bd1f17;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .offer-text {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #0a1425;
    text-align: center;
  }



